.final-orderer-form {
  &.short {
    height: 70px;
    overflow: hidden;
  }

  ul {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 15px;

      h2 {
        font-size: 17px;
      }

      input {
        flex: 1 1 auto;
        border: 1px solid $border;
        border-radius: 5px;
        padding: 10px;
        &:hover {
          background-color: $background;
          transition: background-color 100ms ease-in-out;
        }
      }
      span {
        display: block;
        width: 40px;
        text-align: center;
      }
      .ic-chevron {
        transform: rotate(180deg);
        font-size: 18px;
        transition: transform 200ms ease-in-out;
      }
      .ic-chevron.short {
        transform: rotate(0);
      }

      label {
        width: 72px;
        font-size: 14px;
      }

      select {
        flex: 1 1 auto;
        padding: 7px 12px;
        border: 1px solid $border;
        border-radius: 5px;
        &:hover {
          background-color: $background;
          transition: background-color 100ms ease-in-out;
        }
      }
    }

    li:first-child {
      padding: 18px 0;
      cursor: pointer;
    }

    li:nth-child(2) {
      margin-bottom: 15px;
    }

    li:nth-child(3) {
      display: block;
      .phone-row-1,
      .phone-row-2 {
        width: 100%;
      }
      .phone-row-1 {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      .phone-row-2 {
        flex-direction: column;
        .custom-domain {
          margin-bottom: 10px;
        }
        & > div {
          display: flex;
        }
      }
    }
    li:last-child {
      button {
        flex: 1 1 auto;
        margin-bottom: 20px;
      }
    }

    .phone-number-select {
      margin-right: 8px;
      flex: 0 1 auto;
      width: 85px;
    }
  }

  @include responsive(D) {
    ul {
      li {
        justify-content: flex-start;
      }
      li:not(:first-child) {
        width: 50%;
      }
      li:first-child {
        border-bottom: 1px solid $border;
      }

      li:nth-child(3) {
        display: flex;
        align-items: flex-start;
        width: 100%;
        .phone-row-1 {
          width: calc(50% + 40px);
        }
        .phone-row-2 {
          width: 30%;
        }
      }
    }
  }
}
