.final-order-list {
  padding-bottom: 25px;
  overflow: hidden;
  padding: 0 15px;
  &.short {
    height: 70px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    margin: 10px 0 20px 0;
    border-bottom: 1px solid $border;
    cursor: pointer;

    .list-left {
      display: flex;
      align-items: center;
      h2 {
        font-size: 17px;
      }
      span {
        padding-left: 11px;
        font-size: 13px;
      }
    }

    .ic-chevron {
      font-size: 18px;
      transform: rotate(180deg);
      &.short {
        transform: rotate(0);
      }
      transition: transform 200ms ease-in-out;
    }
  }
}
