.payment-method {
  padding: 0 15px 50px 15px;

  &-header {
    padding: 18px 0;
    margin: 10px 0 20px 0;
    border-bottom: 1px solid $border;

    h2 {
      font-size: 17px;
    }
  }

  &-main {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $border;

    &-item {
      flex: 0 0 auto;
      width: 25%;
      padding: 15px 0;
      height: 120px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      border-right: 1px solid $border;
      border-bottom: 1px solid $border;

      span {
        font-size: 14px;
      }
      img {
        width: 50px;
        height: 50px;
      }
      .discount-blue {
        font-size: 12px;
        color: $blue;
        margin-bottom: 5px;
      }
      .discount-gray {
        font-size: 12px;
        color: $tertiary;
      }
    }

    &-item:nth-child(4) {
      border-right: none;
    }

    &-item:nth-child(5),
    &-item:nth-child(6),
    &-item:nth-child(7) {
      border-bottom: none;
    }

    &-item.is-active {
      border: 1px solid $blue !important;
      background-color: $blue-light;
    }
  }

  &-option {
    padding-top: 16px;

    select {
      width: 100%;
      padding: 8px 30px 9px 15px;
      border: 1px solid $border;
      border-radius: 5px;
      margin-bottom: 8px;
    }
  }

  @include responsive(D) {
    &-main {
      flex-wrap: nowrap;
      &-item {
        flex: 0 1 auto;
        border-bottom: none;
      }
      &-item:nth-child(4) {
        border-right: 1px solid $border;
      }
      &-item:last-child {
        border-right: none;
      }
    }
  }
}
