.category-products-list {
  position: relative;
  z-index: 1;

  &-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 20px 0;
    transition: opacity 100ms ease-in-out;

    button:hover {
      opacity: 0.5;
    }
  }

  &-main {
    display: flex;
    flex-wrap: wrap;
    a {
      width: calc(50% - 5px);
      .store-item {
        flex-direction: column;
        &-image,
        &-info {
          width: 100%;
        }
      }
    }

    a:nth-child(2n + 1) {
      margin-right: 10px;
    }
  }

  .category-products-loading {
    @include flexbox;
  }

  @include responsive(D) {
    &-header {
      padding: 0;
      margin-bottom: 20px;
    }
    &-main {
      a {
        width: calc(33.3% - 14px);
      }

      a:nth-child(2n + 1) {
        margin-right: 0;
      }
      a:not(:nth-child(3n)) {
        margin-right: 20px;
      }
    }
  }
}
