.my-review-item {
  margin: 30px 0;
  &-content {
    display: flex;

    &-left {
      flex: 1 1 auto;
      h4 {
        font-size: 18px;
        margin-bottom: 8px;
      }
      .review-average {
        display: flex;
        .star-rating-20 {
          margin-right: 10px;
        }
        span {
          font-size: 14px;
          color: $tertiary;
        }
      }
      p {
        margin-top: 12px;
        font-size: 14px;
      }
    }

    &-right {
      button {
        color: $tertiary;
      }
    }
  }
}
