.popular-products {
  margin-top: 20px;

  h3 {
    margin-bottom: 20px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .btn-delivery {
      opacity: 0.7;
      &:not(:disabled):hover {
        opacity: 1;
        background-color: $border;
      }
      transition: opacity 100ms ease-in-out;
    }

    .btn-arrange {
      font-size: $font-size-13;
      color: $primary;
      padding: 5px 0;

      .ic-caret {
        font-size: 20px;
        color: $tertiary;
        vertical-align: middle;
      }

      &:not(:disabled):hover {
        opacity: 0.5;
      }
      transition: opacity 100ms ease-in-out;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    a {
      width: calc(50% - 5px);
      .store-item {
        flex-direction: column;
        &-image,
        &-info {
          width: 100%;
        }
      }
    }

    a:nth-child(odd) {
      margin-right: 10px;
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }

  @include responsive(T) {
    &-list {
      a {
        width: calc(25% - 8px);
        margin-right: 10px;
      }

      a:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  @include responsive(D) {
    &-list {
      a {
        width: calc(25% - 15px);
      }
      a:not(:nth-child(4n)) {
        margin-right: 20px;
      }
    }
  }
}
