.exhibition-grid-3-items {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  a {
    width: calc(50% - 5px);
    .store-item {
      flex-direction: column;
      &-image,
      &-info {
        width: 100%;
      }

      &-info-today-delivery > img {
        width: auto;
        height: 15px;
      }
    }
  }

  a:nth-child(2n + 1) {
    margin-right: 10px;
  }

  @include responsive(T) {
    a {
      width: calc(33.3% - 14px);
    }
    a:nth-child(3n) {
      margin-right: 0;
    }
    a:not(:nth-child(3n)) {
      margin-right: 20px;
    }
  }
}
