.fast-delivery-market {
  &-category {
    &-row {
      display: flex;
      .image-tag {
        position: relative;
        width: 25%;

        a {
          position: absolute;
          width: 83%;
          height: 90%;
          top: 0;
        }
        a:hover {
          box-shadow: 0 0 0 3px rgba(130, 224, 250, 0.5);
        }

        &:nth-child(1) {
          a {
            right: 2%;
          }
        }
        &:nth-child(2) {
          a {
            right: 5%;
          }
        }
        &:nth-child(3) {
          a {
            right: 10.5%;
          }
        }
        &:nth-child(4) {
          a {
            right: 15.5%;
          }
        }
      }
    }

    &-row:nth-child(2) {
      a {
        height: 67%;
      }
    }
  }
}
