%input-base {
  border: 0.8px solid $border;
  border-radius: 4px;
  padding: 6px 12px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.input-primary {
  @extend %input-base;
  border: 0.8px solid $border;
  border-radius: 4px;
  padding: 6px 12px;
}

.input-secondary {
  @extend %input-base;

  &:hover {
    background-color: $background;
  }
  &:focus {
    box-shadow: 0 0 0 3px rgba(130, 224, 250, 0.5);
  }
  &.is-error {
    box-shadow: 0 0 0 3px rgba(248, 109, 125, 0.5);
  }
}
