.store-category-menu {
  margin: 40px 0;
  &-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  .swiper-slide {
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100px;
      }
      span {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        white-space: nowrap;
        font-weight: 700;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.3;

    &::after {
      position: absolute;
      font-size: 14px;
      color: white;
      font-weight: 700;
    }
  }

  .swiper-button-disabled {
    display: none;
  }
}
