.my-review-item {
  margin: 30px 0;
  &-content {
    display: flex;

    &-left {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &-span {
        font-size: 18px;
        margin-bottom: 8px;
      }
      .review-average {
        display: flex;
        align-items: center;
        .star-rating-24 {
          margin-right: 10px;
        }
        span {
          font-size: 14px;
          color: $tertiary;
        }
      }
      p {
        width: 300px;
        margin-top: 12px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-right {
      .update-remove-buttons {
        display: flex;
        flex-wrap: nowrap;
        button {
          color: $secondary;
          white-space: nowrap;
        }
      }

      img {
        width: 85px;
        height: 85px;
      }
    }
  }

  @include responsive(T) {
    p {
      width: 500px;
    }
  }

  @include responsive(D) {
    p {
      width: 900px;
    }
  }
}
