.production-reviews-write {
  height: 580px;
  &-main {
    position: relative;
    margin: 30px 15px;

    &-title {
      font-size: 18px;
      font-weight: 700;
    }

    .search-reviews-input {
      width: 100%;
      height: 50px;
      display: flex;
      margin-top: 15px;
      position: relative;
      z-index: 2;

      input {
        flex: 1 1 auto;
        height: 40px;
        border: 1px solid $border;
        border-radius: 5px;
        padding: 0 15px;
        transition: background-color 200ms ease-in-out;
        transition: box-shadow 200ms ease-in-out;
      }
      input:hover {
        background-color: $background;
      }

      button {
        width: 70px;
        margin-left: 8px;
      }
    }
  }

  @include responsive(T) {
    &-main {
      margin: 30px;
      .search-reviews-input {
        input {
        }
        button {
          width: 120px;
        }
      }
    }
  }

  @include responsive(D) {
    &-main {
      width: 1200px;
      margin: 30px auto;
    }
  }
}
