.empty-cart {
  @include column-flexbox;
  height: calc(
    100vh - $gnb-height-sm - $lnb-height-sm - $global-footer-height - 45px
  );
  img {
    width: 160px;
  }
  button {
    margin-top: 40px;
  }
}
