.exhibition-grid-3-items {
  .col {
    display: flex;
    margin-bottom: 20px;

    & > a:not(:last-child) {
      margin-right: 10px;
    }

    .store-item {
      flex-direction: column;
      border: 0;
      &-info {
        padding: 0;
      }
    }
  }
}
