.today-deals {
  &-header {
    @include flexbox;
    margin-top: 50px;

    h3 {
      flex: 1 1 auto;
    }

    a {
      margin-right: 7px;
      color: $red;
      font-weight: 700;
      font-size: $font-size-14;
    }
  }

  .btn-48.btn-secondary {
    width: 100%;
  }

  @include responsive(T) {
    &-header {
      margin-left: -10px;
    }

    &-items {
      display: flex;

      & > a {
        margin: 0 5px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }

      .store-item {
        flex-direction: column;
      }
    }

    .btn-48.btn-secondary {
      display: none;
    }
  }
}
