.today-deals-summary {
  &-header {
    @include flexbox;
    margin-top: 50px;
    margin-bottom: 15px;
    h3 {
      flex: 1 1 auto;
    }

    a {
      color: $red;
      font-weight: 700;
      font-size: $font-size-14;
    }
  }

  .btn-48.btn-secondary {
    width: 100%;
  }

  @include responsive(T) {
    &-items {
      @include flexbox;

      & > a:not(:last-child) {
        margin-right: 10px;
      }

      .store-item {
        flex-direction: column;
      }
    }

    .btn-48.btn-secondary {
      display: none;
    }
  }
}
