.today-deals-main {
  &-header {
    margin: 50px 0 30px 0;

    &-title {
      font-size: 30px;
      margin: 15px 0;
    }
    span {
      @include text-style-16;
      color: $secondary;
    }
  }

  @include responsive(T) {
    &-items {
      display: flex;
      flex-wrap: wrap;
      .hotdeal-store-item {
        width: calc(25% - 15px);
        .store-item {
          flex-direction: column;
        }
        &:not(:nth-child(4n)) {
          margin-right: 20px;
        }
      }
    }
  }
}
