.ranks {
  &-menu {
    @include flexbox;
    button {
      width: 200px;
    }
    margin: 20px 0;
  }

  &-header {
    @include text-style-13;
    color: $secondary;
    margin: 10px 0;
  }

  &-category {
    display: flex;
    overflow-x: auto;

    li {
      white-space: nowrap;
      padding: 10px;
      cursor: pointer;
      margin: 5px 5px 10px 5px;

      &:hover {
        color: $blue;
      }
      &.is-active {
        color: $blue;
      }
    }
  }

  @include responsive(T) {
    &-menu {
      margin-bottom: 40px;
    }

    &-products {
      display: flex;
      flex-wrap: wrap;

      a {
        width: calc(25% - 15px);
        .store-item {
          flex-direction: column;
        }
      }

      a:not(:nth-child(4n)) {
        margin-right: 20px;
      }
    }
  }

  @media screen and (min-width: 864px) {
    &-category {
      @include flexbox;
    }
  }
}
