.users-edit-password {
  padding: 80px 20px;

  &-header {
    font-size: 16px;
    margin-bottom: 15px;
  }

  input {
    width: 100%;
    padding: 0 15px;
    border: 1px solid $border;
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
  }
  input:focus {
    border: 3px solid $blue;
  }

  label {
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &-input {
    .users-edit-password-error {
      display: flex;
      align-items: center;

      color: $red;
      font-size: 12px;
      font-weight: 700;
      margin-top: 10px;
      .circle-icons {
        font-size: 23px;
        margin-right: 3px;
      }
    }

    .password-box {
      padding: 20px 0;
    }
  }

  button {
    width: 100%;
  }

  @include responsive(T) {
    width: 480px;
    padding: 40px;
    margin: 50px auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
}
