.exhibitions-tags {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $border;
  background-color: white;
  position: sticky;
  top: $gnb-height-sm + $lnb-height-sm;
  z-index: $exhibition-tags-level;
  padding: 10px 0;

  .tag {
    @include flexbox;
    @include text-style-14;
    padding: 15px;
    margin: 5px;
    height: 20px;
    border-radius: 25px;
    background-color: $background;
  }

  @include responsive(T) {
    top: $gnb-height-md + $lnb-height-md;
  }

  @include responsive(D) {
    border-top: 1px solid $border;
    border-left: 1px solid $border;
    padding: 0;

    .tag {
      height: 50px;
      width: 25%;
      padding: 0;
      margin: 0;
      border-radius: 0;
      border-right: 1px solid $border;
      border-bottom: 1px solid $border;
    }
  }
}
