.store-banner {
  &-slider-item {
    img {
      width: 100%;
      min-height: 200px;
      max-height: 600px;
      object-fit: cover;
    }
  }

  &-slider-list {
    position: relative;

    .swiper-button-prev {
      display: none;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: black;
      opacity: 0.3;

      &::after {
        position: absolute;
        right: 19px;
        bottom: 14px;
        font-size: 20px;
        color: white;
        font-weight: 700;
      }
    }

    .swiper-button-next {
      display: none;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: black;
      opacity: 0.3;

      &::after {
        position: absolute;
        right: 19px;
        bottom: 14px;
        font-size: 20px;
        color: white;
        font-weight: 700;
      }
    }

    .swiper-pagination {
      width: 40px;
      height: 20px;
      border: 1px solid black;
      border-radius: 20px;
      font-size: $font-size-12;
      @include flexbox;
      font-weight: 700;
      background-color: black;
      opacity: 0.4;
      color: white;

      position: absolute;
      bottom: 10px;
      left: auto;
      right: 12px;

      .swiper-pagination-current {
        margin-right: 2px;
      }
      .swiper-pagination-total {
        margin-left: 2px;
      }
    }
  }

  @include responsive(T) {
    .swiper-pagination {
      width: 50px;
      height: 23px;
      font-size: $font-size-14;
      right: 10%;
    }

    &:hover {
      .swiper-button-prev {
        display: block;
        left: 2%;
      }
      .swiper-button-next {
        display: block;
        right: 2%;
      }
    }
  }

  @include responsive(D) {
    .swiper-pagination {
      right: 15%;
    }

    &:hover {
      .swiper-button-prev {
        left: 12%;
      }
      .swiper-button-next {
        right: 12%;
      }
    }
  }
}
