.premium-banner {
  .swiper-slide {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .swiper-pagination-bullet-active {
    color: white;
    background-color: white;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  @include responsive(T) {
    padding: 30px 0;

    .mySwiper {
      margin: 0 -20px;
      padding: 0 20px;
    }
    .swiper-slide {
      img {
        border-radius: 5px;
      }
    }
    .swiper-pagination {
      display: none;
    }

    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: calc(50% - 13px);
      display: block;
      box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: white;

      &::after {
        position: absolute;
        right: 19px;
        bottom: 14px;
        font-size: 20px;
        color: $dark;
        font-weight: 700;
      }
    }
  }
}
